<div class="parallax-container" style="height: 760px">
    <div class="first">
        <h1 class="grey-text text-lighten-4 center">dev.f</h1>
        <h5 class="grey-text text-lighten-4 center">desarrollamos personas( );</h5>
    </div>
    <div class="parallax"><img src="assets/img/weWork.jpg"></div>
</div>




<div class="parallax-container">
    <div class="letrero">
        <br>
        <h3 class="grey-text text-lighten-4 center">Sobre este programa</h3>
    </div>
    <div class="container">
        <h5 class="grey-text text-darken-3 lighten-3 center">Descubre nuestros nuevos programas orientados a</h5>

        <h5 class="col l4 m4 grey-text text-darken-3 lighten-3 center">Empresas</h5>
        <h5 class="col l4 m4 grey-text text-darken-3 lighten-3 center">Startups</h5>
        <h5 class="col l4 m4 grey-text text-darken-3 lighten-3 center">Organizaciones</h5>

    </div>
</div>

<div class="parallax-container" style="height: 640px;">
    <div class="letrero">
        <br>
        <h3 class="grey-text text-lighten-4 center">Nuestra empresa</h3>
    </div>
    <div class="container">
        <br>
        <div class="row">
            <div class="col l6 m6 s12">
                <h5 class="grey-text text-darken-3 lighten-3">Industrial Cordelera surge en el año de 1968 como una empresa solida 100% mexicana y que a lo largo de ya casi 35 años ha buscado siempre de manera continua la innovación en la fabricación de sus hilos y piolas en Nylon, Poliéster, Algodón
                    y Polipropileno para los mercados artesanales y de mercería.</h5>
                <h5 class="grey-text text-darken-3 lighten-3">Fundadores y promotores entre otras cosas del nylon No. 2 crochet y la piola No.15 en polipropileno para tejido de bolsa, somos quizá el único fabricante que no solo mantiene una línea de productos hilados y torcidos de alta competitividad,
                    sino que a su vez se encuentra siempre en constante preocupación por desarrollar y producir las nuevas ideas; no importa que tan pequeño sea lo que usted necesite, en Industrial Cordelera lo fabricamos para usted.</h5>
            </div>
            <div class="col l6 m6 s12">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="http://www.hilomex.com/imgempresa/fototrenzado.jpg">
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>

<div class="parallax-container">
    <div class="letrero">
        <br>
        <h3 class="grey-text text-lighten-4 center">Contacto</h3>
    </div>
    <div class="container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.437664716331!2d-99.09050988519377!3d19.393486946955775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fc323a412f0f%3A0xbff8b8342b0dc480!2sIndustrial+Cordelera+S.A.!5e0!3m2!1ses!2smx!4v1494136837413"
            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>

<div class="section white">
    <div class="row container">
        <h5 class="grey-text text-darken-3 lighten-3 right ">Hilos y cordeles torcidos, tejidos trenzados en nylon, poliester polipropileno y algodón.</h5>
        <h5 class="grey-text text-darken-3 lighten-3 right ">Fabricacion especial en color grosor, textura y presentación según sus requerimientos.</h5>
        <br>
    </div>
</div>

<div class="parallax-container ">
    <div class="parallax "><img src="http://1.bp.blogspot.com/-jra2xL96L_k/VBrz25OmX2I/AAAAAAAAAdE/OQsPdb2D4co/s1600/Hilo%2BNaylon%2Bpara%2BM%C3%A1quina%2By%2Bpara%2BMano.jpg "></div>
</div>

<div class="row container">
    <h2 class="header ">Existimos para unir lazos</h2>
    <h5 class="grey-text text-darken-3 lighten-3">Fabricacion especial en color grosor, textura y presentación según sus requerimientos.</h5>
    <h5 class="grey-text text-darken-3 lighten-3">Para tejido crochet, macramé hamacas, costura de ropa, calzado, tapicería y pesca.</h5>
</div>
<div class="parallax-container ">
    <div class="parallax ">
        <img src="https://previews.123rf.com/images/svetlanacherruty/svetlanacherruty1512/svetlanacherruty151200075/49648674-Skein-of-gray-wool-yarn-for-knitting-Close-up-Wallpaper-or-abstract-background-Stock-Photo.jpg "></div>
</div>




<footer class="page-footer indigo darken-1 ">
    <div class="container ">
        <div class="row ">
            <div class="col l6 s12 ">
                <h5 class="white-text ">Hil</h5>
                <p class="grey-text text-lighten-4 ">Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright ">
        <div class="container ">
            © 2017
        </div>
    </div>
</footer>