<div class="parallax-container" style="height: 990px">
    <div class="first">
        <img id="devLogo" src="assets/img/logo.svg" alt="">
    </div>
    <div class="parallax"><img src="assets/img/weWork.jpg"></div>
</div>

<div class="container">
    <br>
    <h3 class="center">Descubre el potencial de tu negocio</h3>
    <br>
    <h5 class="center">Dev.f es el moviento hacker más grande de américa latina que nació en 2014 con el objetivo de crear un lugar donde programadores
        puedan aprender y vincularse al mundo laboral de manera natural.</h5>
    <br>
</div>

<div>
    <div class="titleContainer">
        <h3 id="title" class="grey-text text-lighten-4 center">Sobre este programa</h3>
    </div>
    <div class="container">
        <h5 class="grey-text text-darken-3 lighten-3 center">Descubre nuestros nuevos programas orientados a</h5>
        <div class="row">

            <div class="col s12 m4 l4">
                <div class="card blue darken-3">
                    <div class="card-content white-text">
                        <div class="center-align">
                            <i class="large material-icons">insert_chart</i>
                        </div>
                        <span class="card-title center">Empresas</span>
                        <p class="center">Genera un grupo de hackers para hacer crecer tu empresa.</p>
                    </div>
                </div>
            </div>

            <div class="col s12 m4 l4">
                <div class="card blue darken-3">
                    <div class="card-content white-text">
                        <div class="center-align">
                            <i class="large material-icons">android</i>
                        </div>
                        <span class="card-title center">Startups</span>
                        <p class="center">Descubre el potencial que tienen las herramientas que son tendencia.</p>
                    </div>
                </div>
            </div>

            <div class="col s12 m4 l4">
                <div class="card blue darken-3">
                    <div class="card-content white-text">
                        <div class="center-align">
                            <i class="large material-icons">store</i>
                        </div>
                        <span class="card-title center">Tu negocio</span>
                        <p class="center">Capacitate como todo un hacker y haz crecer tu negocio.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div>
    <div class="titleContainer">
        <h3 id="title" class="grey-text text-lighten-4 center">¿Qué es dev.f?</h3>
    </div>
    <div class="container">
        <br>
        <div class="row">
            <div class="col l6 m6 s12">
                <h5 align="justify" class="grey-text text-darken-3 lighten-3">Dev.f es el moviento hacker más grande de américa latina que nació en 2014 con el objetivo de crear un lugar
                    donde programadores puedan aprender y vincularse al mundo laboral de manera natural.</h5>
                <h5 align="justify" class="grey-text text-darken-3 lighten-3 right ">Nos inspiramos en los principios de auto-aprendizaje, aprendizaje en pares (peer learning), trabajo en equipo,
                    y metodologías de aprendizaje basado en proyectos, buscando estimular siempre tu curiosidad natural humana.</h5>
                <h5 align="justify" class="grey-text text-darken-3 lighten-3 right "> Juntos contigo crearemos una comunidad inclusiva, divertida, y de trabajo duro.</h5>
            </div>
            <div class="col l6 m6 s12">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="assets/img/weWork.jpg">
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>

<div>
    <div class="titleContainer">
        <h3 id="title" class="grey-text text-lighten-4 center">¿Dudas?</h3>
    </div>
    <div class="center">
        <h5>Contáctanos en</h5>
        <br>
        <h6>Correo: hola@devf.mx</h6>
        <h6>Teléfono: 68-45-06-08</h6>
        <br>
    </div>
</div>

<div>
    <h5 class="center">Vive en el futuro y luego construye lo que hace falta.</h5>
</div>
<footer class="page-footer grey darken-3">
    <img id="footerLogo" src="assets/img/logo.svg" alt="">
</footer>